<div class="exittracking">
  <div class="exittracking-title_card">
    <h4>Exit Tracking</h4>
  </div>
  <ul>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="show == 0"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="show == 1"></i>
      <div class="tracking-title">
        <p>Initiation</p>
      </div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="show == 1"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="show == 0"></i>
      <div class="tracking-title"><p>Hr</p></div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="show == 1"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="show == 0"></i>
      <div class="tracking-title">
        <p>Manager</p>
      </div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="show == 1"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="show == 0"></i>
      <div class="tracking-title">
        <p>Delivery Head</p>
      </div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="show == 1"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="show == 0"></i>
      <div class="tracking-title">
        <p>Closure</p>
      </div>
    </li>
  </ul>
</div>

<div class="clearance-tracking">
  <div class="clearance-tracking__dept animate__animated animate__backInLeft animate__delay-1s">
    <span>
      <p text="IT Clearance ">IT</p>
      <p text="IT Clearance ">Clearance</p>
    </span>
  </div>
  <div class="clearance-tracking__dept animate__animated  animate__backInDown animate__delay-2s">
    <span>
      <p>Finance</p>
      <p>Clearance</p>
    </span>
  </div>
  <div class="clearance-tracking__dept animate__animated animate__backInRight animate__delay-2s">
    <span
      ><p>Security</p>
      <p>Clearance</p>
    </span>
  </div>

  <div class="clearance-tracking__dept animate__animated animate__backInUp animate__delay-1s">
    <span>
      <p>Other</p>
      <p>Clearance</p>
    </span>
  </div>
</div>
