.exittracking {
  width: 80%;
  margin-top: 100px;
  margin-left: 150px;
}

.employee-detail {
  width: 80%;
  margin: 0 auto;
  margin-left: 197px;
}

.exittracking-title_card {
  font-weight: bolder;
  margin-bottom: 28px;
  margin-left: 31px;
}
ul {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
ul li {
  display: inline-block;
  width: 130px;
  position: relative;
  justify-content: space-between;
}
i {
  margin-bottom: 30px;
}
ul li .fa-solid {
  background: #fff;
  width: 16px;
  height: 16px;
  color: #424b54;
  border-radius: 50%;
}
ul li .fa-circle-xmark::after {
  content: "";
  background: linear-gradient(#948b89, #948b89);
  height: 5px;
  width: 200px;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -10;
}

.clearance-tracking div {
  display: inline-block;
  width: 150px;
  position: relative;
  justify-content: space-between;
  margin-left: 70px;
  margin-top: 20px;
}
.clearance-tracking {
  width: 80%;
  margin: 50px auto;
  height: 191px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-left: 197px;
}

.clearance-tracking__dept {
  width: 50%;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(330deg, #fe8d79, #ff5276);

  box-shadow: 20px -20px 71px #bcbcbc,
  22px -27px -13px #ffffff;
  transition: all 0.4s ease-in-out;
}
.clearance-tracking__dept:hover {
  transform: scale(1.005);
  box-shadow: var(--dark-shadow);
  border-top: 1px solid #f51e49;
  border-right: 1px solid #f51e49;
  border-bottom: 1px solid #f51e49;
}

span {
  text-align: center;
  padding: 30px;
  word-break: break-all;
  position: absolute;
}

ul li .fa-circle-check {
  background: #424b54;
  width: 16px;
  height: 16px;
  color: #00bd9d;
  border-radius: 50%;
}
ul li .fa-circle-check::after {
  content: "";
  background: linear-gradient(#fe8d79, #ff5276);
  height: 5px;
  width: 200px;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -10;
}
.clearance-tracking__dept span p {
  color: #fff;
}
/* li:nth-child(even) .fa-circle-xmark{

  color: rgb(137, 197, 16);
} */

@media screen and (min-width: 1024px) {
  /* .clearance-tracking{
    width: 60%;
    height: auto;
    margin-left: 141px;
  } */
  .exittracking {
    margin-left: 160px;
  }
}
@media screen and (max-width: 1000px) {
  .clearance-tracking {
    width: 50%;
    height: auto;
  }
  .exittracking {
    margin-left: 92px;
  }
}
