.exittracking{
  width: 80%;
  margin: 100px;
  margin-left: 120px;

}

.exittracking-title_card{
  font-weight: bolder;
  margin-bottom: 28px;
  margin-left: 31px;
}
ul{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
ul li{
  display: inline-block;
  width: 130px;
  position: relative;
  justify-content: space-between;
}
i{
  margin-bottom: 30px;
}
ul li .fa-solid{
  background: #fff;
  width: 16px;
  height: 16px;
  color: #424B54;
  border-radius: 50%;

}
ul li .fa-circle-xmark::after{
  content: '';
  background: linear-gradient(#948B89,#948B89);
  height: 5px;
  width: 200px;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -10;
}


.clearance-tracking div{
  display: inline-block;
  width: 150px;
  position: relative;
  justify-content: space-between;
  margin-left: 82px;
  margin-top: 20px;
}
.clearance-tracking{
  width: 80%;
  margin: 100px;
  height: 191px;

  margin-left: 180px;
  background-color: #ffffff;
  border-radius: 15px;



}

.clearance-tracking__dept{
  width: 50%;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(330deg, #fe8d79, #ff5276);

  box-shadow:     20px -20px 71px #bcbcbc,
  -20px 20px 71px #ffffff;


}

 span{
  text-align: center;
  padding: 39px;
  word-break: break-all;
  position: absolute;
}


 ul li .fa-circle-check{
  background: #424B54;
  width: 16px;
  height: 16px;
  color: #00BD9D;
  border-radius: 50%;

}
ul li .fa-circle-check::after{
  content: '';
  background: linear-gradient(#FE8D79,#FF5276);
  height: 5px;
  width: 200px;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -10;
}
.clearance-tracking__dept span p{
  color: #fff;
}
 /* li:nth-child(even) .fa-circle-xmark{

  color: rgb(137, 197, 16);
} */
