<div class="exittracking">
  <div class="exittracking-title_card">
    <h4>Exit Tracking</h4>
  </div>
  <ul>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="show == 0"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="show == 1"></i>
      <div class="tracking-title">
        <p>Initiation</p>
      </div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="Employee_ExitProgress$.isHRApproved"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="!Employee_ExitProgress$.isHRApproved "></i>
      <div class="tracking-title"><p>Hr</p></div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="Employee_ExitProgress$.isPMApproved"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="!Employee_ExitProgress$.isPMApproved"></i>
      <div class="tracking-title">
        <p>Manager</p>
      </div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="Employee_ExitProgress$.isDHApproved"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="!Employee_ExitProgress$.isDHApproved"></i>
      <div class="tracking-title">
        <p>Delivery Head</p>
      </div>
    </li>
    <li>
      <i class="fa-solid fa-circle-check" *ngIf="Employee_ExitProgress$.financeClearance"></i>
      <i class="fa-solid fa-circle-xmark" *ngIf="!Employee_ExitProgress$.financeClearance"></i>
      <div class="tracking-title">
        <p>Closure</p>
      </div>
    </li>
  </ul>
</div>

<div class="employee-detail">
  <kendo-panelbar>
    <kendo-panelbar-item title="Employee Details">
      <ng-template kendoPanelBarContent>
        <app-resignation-form
          [screenType]="'exitTracking'"
          [employeeDetail]="Employee_Details$"
        ></app-resignation-form>
      </ng-template>
    </kendo-panelbar-item>
  </kendo-panelbar>
</div>

<div class="clearance-tracking">
  <div class="clearance-tracking__dept animate__animated animate__backInLeft">
    <span>
      <p text="IT Clearance ">IT</p>
      <p text="IT Clearance ">Clearance</p>
    </span>
  </div>
  <div
    class="clearance-tracking__dept animate__animated animate__backInDown animate__delay-1s"
  >
    <span>
      <p>Finance</p>
      <p>Clearance</p>
    </span>
  </div>
  <div class="clearance-tracking__dept animate__animated animate__backInRight">
    <span
      ><p>Security</p>
      <p>Clearance</p>
    </span>
  </div>

  <div
    class="clearance-tracking__dept animate__animated animate__backInUp animate__delay-1s"
  >
    <span>
      <p>Other</p>
      <p>Clearance</p>
    </span>
  </div>
</div>
