.admin-container {
  width: 80%;
  margin: 110px 182px;
}

.admin-title {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.approve-btn {
  border: none;
  padding: 0.25rem 1rem;
  border-radius: var(--spacing);
  background: #ff5276;
  text-transform: capitalize;
  color: var(--clr-white);
  font-weight: 600;
  margin-left: 25px;
}
