<div class="admin-container">
  <h4 class="admin-title">Approval Assigned To Me</h4>
  <div class="">
    <kendo-grid
      [data]="gridView"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="true"

      (pageChange)="pageChange($event)"
    >
      <kendo-grid-column [width]="100" field="employeeNo" title="Number">
      </kendo-grid-column>
      <kendo-grid-column field="employeeEmailId" title="Mail Id">
      </kendo-grid-column>
      <kendo-grid-column
        field="employeePersonalEmailid"
        title="Personal Mail Id"
      >
      </kendo-grid-column>
      <kendo-grid-column
        [width]="150"
        field="employeeContact"
        title="Contact No"
      >
      </kendo-grid-column>
      <kendo-grid-column
        [width]="160"
        title="Separation Date"
      >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.seperationDate | date:'dd-MMM-yyyy'}}
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        [width]="160"
        title="Last Working Date"
      >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.lastWorkingDate | date:'dd-MMM-yyyy'}}
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="160">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button class="approve-btn" (click)="updateExitApproval(dataItem)">
            approve
          </button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
