<div class="sidebar" [ngClass]="{active:isSideBarActivated===true}">
  <div class="logo_content">

    <a (click)="onExpandSidebar()"><i class="bx bx-menu" id="btn" ></i></a>
  </div>
  <ul class="nav_list">
    <li>
      <a href="">
        <i class="bx bxs-dashboard" ></i>
        <span class="links_name">Dashboard</span>
      </a>
      <!-- <span class="tooltip">Dashboard</span> -->
    </li>
    <li>
      <a href="">
        <i class='bx bx-user'></i>
        <span class="links_name">Approvals</span>
      </a>
      <!-- <span class="tooltip">Approvals</span> -->
    </li>
    <li>
      <a href="">
        <i class='bx bx-user'></i>
        <span class="links_name">Exit</span>
      </a>
      <!-- <span class="tooltip">Exit</span> -->
    </li>
    <li>
      <a href="">
        <i class='bx bx-help-circle'></i>
        <span class="links_name">Help</span>
      </a>
      <!-- <span class="tooltip">Help</span> -->
    </li>
  </ul>
  <div class="company_logo">
    <div class="title">
      <div class="hashedin_title hashedin">Hashedin</div>
      <div class="hashedin_title deloitte">By Deloitte</div>
    </div>

  </div>
</div>
