<div class="dash-board">
  <div class="row">
    <div class="col-lg-2 side-detail-bar">
      <div class="profile-icon-container">
        <i class="fa-solid fa-user fa-4x profile-icon"></i>
      </div>

      <div class="employee-name">sarath kumar v</div>
      <div class="employee-number">760964</div>
      <div class="employee-position">software engineer</div>
      <div class="employee-mail mb-3">sarath@gmail.com</div>
      <div class="break-line"></div>
      <div class="quick-links">
        <div class="link-title mb-3">quick links</div>
        <button type="button" class="link-btn">resignation form</button>
        <button type="button" class="link-btn">approval page</button>
      </div>

    </div>
    <div class="col-lg-10">
      <h4 class="card-title">dashboard</h4>
      <div class="card-container">
        <!-- single card -->
        <a [routerLink]="'/seperation'">
        <div class="card">
          <div class="resignation-title">resignation form</div>
          <p class="resignation-info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, sit.
            Qui exercitationem accusamus nihil voluptatem?
          </p>
        </div>
      </a>
        <!-- End of single card -->
        <!-- single card -->
        <div class="card">
          <div class="resignation-title">approval page</div>
          <p class="resignation-info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, sit.
            Qui exercitationem accusamus nihil voluptatem?
          </p>
        </div>
        <!-- End of single card -->
      </div>
    </div>

  </div>
</div>
