<div class="dash-board">
  <div class="row">
    <div class="col-lg-2 side-detail-bar">
      <div class="profile-icon-container">
        <i class="fa-solid fa-user fa-4x profile-icon"></i>
      </div>

      <div class="employee-name">{{ employeeDetail.employeeName }}</div>
      <div class="employee-number">{{ employeeDetail.employeeNumber }}</div>
      <div class="employee-position">{{ employeeDetail.role }}</div>
      <div class="employee-mail mb-3">{{ employeeDetail.email }}</div>
      <div class="break-line"></div>
      <div class="quick-links">
        <div class="link-title mb-3">quick links</div>
        <button
          *ngIf="!employeeExitDetails"
          type="button"
          class="link-btn"
          (click)="initiateNavigation('seperation')"
        >
          resignation
        </button>
        <button
          *ngIf="checkApprovalRole()"
          type="button"
          class="link-btn"
          (click)="initiateNavigation('admin')"
        >
          approval
        </button>
      </div>
    </div>
    <div class="col-lg-10">
      <h4 class="card-title">dashboard</h4>
      <div class="card-container">
        <!-- single card -->
        <div
          (click)="initiateNavigation('seperation')"
          *ngIf="!employeeExitDetails"
          class="card"
        >
          <div class="resignation-title">resignation</div>
          <p class="resignation-info">
            click here to start with the resignation
          </p>
        </div>
        <!-- End of single card -->
        <!-- single card -->
        <div
          (click)="initiateNavigation('admin')"
          *ngIf="checkApprovalRole()"
          class="card"
        >
          <div class="resignation-title">approval</div>
          <p class="resignation-info">click here to approve the resignation</p>
        </div>
        <!-- End of single card -->
        <!-- single card -->
        <div
          (click)="initiateNavigation('exit-tracking')"
          *ngIf="employeeExitDetails"
          class="card"
        >
          <div class="resignation-title">exit tracking</div>
          <p class="resignation-info">cleck here to track the clearance</p>
        </div>
        <!-- End of single card -->
      </div>
    </div>
  </div>
</div>
