<nav class="py-2 bg-light border-bottom">
    <div class="d-flex flex-wrap">
      <ul class="nav me-auto">
        <div class="navbar-brand vertical-center">
            <img src="../../../assets/h_icon.png" style="height: 70%; width: 23%; margin: 0 10% 0 10%;"  class="d-inline-block align-top" alt="">
            <span class="text-uppercase font-weight-bold" style="color: black;">E Separation</span>
        </div>
      </ul>
      <!-- <ul class="nav">
        <li class="nav-item"><i class="fa-solid fa-circle-user fa-2xl"></i></li>
      </ul> -->
      <ul style="padding: 1%" class ="nav">
        <li class="nav-item"><a class="nav-link link-dark px-2"><i class="fa-solid fa-circle-user fa-2xl" style="color: #ff5276;"></i></a></li>
      </ul>
    </div>
</nav>
  